/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;

}

h1 {
    font-size: 1.5em;
   
}

h2 {
    font-size: .8em;
    font-weight: 400;
    
}

.col-1, .col-2 {
    flex: 1;
}

.btn {
    background-color: white;
    border: 0;
    background: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    font-size: 1em;
    width: 1em;
    height: .5em;
    white-space: nowrap;
    text-indent: 10em;
    overflow: hidden;
    line-height: 0.1;
    cursor: pointer;
}


li > p {
    font-size: .7em;
    margin-top: 1em;
    color: hsl(240, 5%, 50%);

}

.flex {
    display: flex;

}

body.flex {
    justify-content: center;
    align-items: center;
}

h2.flex {
    justify-content: space-between;
    align-items: baseline;
}

.container {
    display: flex;
    width: 750px;
    height: 70%;
    background-color: white;
    border-radius: 1em;
    padding: 4em 3em 4em;
}
ul {
    padding: 1em 1em 1em 0;
}

ul > li {   
    list-style: none;
}

ul > li + li {
    margin-top: 1em;
}

li > p {
    display: none;
}

li.open > p {
    display: block;
}

li.open > h2 {
    font-weight: 800;
}

li > h2 {
    color: hsl(240, 5%, 40%);
}


img {
    width: 350px;
}

.img-wrap {
    margin-left: -8em;
}

li.open > p {
  max-width: 80%;
}


@media (max-width: 40em) {

    body {
        padding-top: 1em;
    }
    .container {
        flex-direction: column;
        padding: 1em 2em;
        max-width: 350px;
        height: 450px;
        
    }

    img {
        width: 50%;
        margin: -5em auto 1em auto;
    }
    .img-wrap {
        margin: 0;  
    }

    ul {
        padding: 0;
        margin-top: 1em;
    }

    h2 > button {
        margin-left: 1.5em;
    }

    .col-1, .col-2 {
        display: flex;
        flex-direction: column;
        /* align-items:  center; */
    }

    h1 {
      text-align: center;
    }

    .col-1 {
        height: 200px;
        flex-grow: 0;
        justify-content: center;
    }

    .col-2 {
        margin-top: 1em;
    }

    li.open > p {
        max-width: 90%;
    }



}

